{% extends 'base.html' %}

{% block body %}

<br>
	<h3>Products with less stocks</h3>
<br>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Sr. No.</th>
			<th>Product Name</th>
			<th>Company</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>Units</th>
			<th>Product Type</th>
		</tr>
	</thead>
	<tbody>

		{% for item in object_list %}
		<tr>
			<td>{{item.pk}}</td>
			<td>{{item.prod_name}}</td>
			<td>{{item.company}}</td>
			<td>{{item.quantity}}</td>
			<td>{{item.price}}</td>
			<td>{{item.units}}</td>
			<td>{{item.prod_type}}</td>
			<td>
				<a href="{% url 'edit_product' item.pk %}" class="btn btn-warning btn-sm" role="button">Edit Product</a>
			</td>
			<td>
				<a href="{% url 'delete_product' item.pk %}" class="btn btn-danger btn-sm" role="button">Delete</a>
			</td>
			<td>
				<a href="{% url 'sell_product' item.pk %}" class="btn btn-success btn-sm" role="button">Sell</a>
			</td>

		</tr>


		{% endfor %}
		
	</tbody>
</table>	

{% endblock %}